include README.md
include LICENSE
include CHANGELOG.md
recursive-include references *.md
recursive-include examples *.md
recursive-include examples *.json
recursive-include scripts/config *.json
recursive-include tests *
